header{
    background-color:black;
    height:100px;
}
#logo{
    width:180px;
    padding-top:1rem;
    padding-left:3rem;
}
#first-part{
    height:350px;
    background-image:url(../assets/banner.jpg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    height:700px;
    
}
#first-part h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:#25a2c3;
    line-height:1.5;
    font-size:3rem;
    text-align:center;
    padding-top:10rem;
    padding-bottom:3rem;
}

#first-part p{
    font-family:"open-sans",sans-serif;
    font-size:1.3rem;
    text-align:center;
    color:#393d41;
    line-height:1.65;
    
}
button{
    background-color:#f04c2f;
    border:none;
    border-radius: 0.5em;
    
    margin-top:4rem;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
   font-size:1.2rem;
   color:white;
   padding:1rem 2rem;
}

#letsgo{
    margin:auto;
    width:100px;
}